@import url("https://use.typekit.net/rac5vfy.css");
@import url(//db.onlinewebfonts.com/c/db4635b7d62620a1a110b98dc7c24e36?family=DSariW01-Regular);

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-beige: #F2EFEA;
    --color-darkgrey: #808080;
    --color-lightgrey: #dbdbdb;
    --color-burgundy: #940000;

    /* --main-font: 'Lato', sans-serif;
    --secondary-font: 'DSari', sans-serif;*/
}

/*
font-family: mrs-eaves-roman-all-small-ca,sans-serif;
font-weight: 400;
font-style: normal;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: var(--main-font);*/
    font-family: mrs-eaves-roman-lining, sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    padding: 0rem 2rem;
}

body {
    background-color: var(--color-beige);
    margin-top: 1rem;
}

ul {
    list-style: none;
}

main {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-bottom: 40px;
}

.bike-details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.bike-container {
    background-color: var(--color-white);
    padding: 1rem 1rem 1rem;
    margin: 1rem;
}




.brand {
    font-family: dsariw01-regular, sans-serif;
    color: var(--color-darkgrey);
    font-size: 1vw;
    font-weight: bold;
    padding-bottom: .5vw;
}


.model {
    color: var(--color-darkgrey);
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    border-bottom: 1px solid var(--color-darkgrey);
    padding-right: 13vw;
}

li {
    font-family: dsariw01-regular, sans-serif;
    color: var(--color-darkgrey);
    font-size: 1.2vw;
    font-style: italic;
    padding: 1vw 12vw 0.5vw 1vw;
    border-bottom: 1px solid var(--color-lightgrey);
}

.price,
.colour,
.in-stock {
    color: var(--color-black);
    font-style: italic;
    font-size: 1.5vw;
}

button {
    font-family: dsariw01-regular, sans-serif;
    color: var(--color-burgundy);
    font-size: 1.5vw;
    background-color: white;
    border: 1px solid var(--color-burgundy);
    padding: .5vw;
    cursor: pointer;
    margin: 1vw 7.5vw 0vw;
}

button:hover{
    background-color: var(--color-burgundy);
    color: var(--color-white);
}

/*
button {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0rem;
  padding: 1rem;
  background-color: #777777;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  border: 0;
  cursor: pointer;
}

button:hover{
    transform: scale(1.05);
}
*/


mark {
    /*font-family: var(--secondary-font);*/
    font-family: dsariw01-regular, sans-serif;
    font-weight: bolder;
    background-color: black;
    color: white;
    margin: 1rem;
    font-size: 1.5vw;
    padding: 0.5vw 1vw 0.5vw;
    letter-spacing: 0.3vw;
}


h2 {
   color: var(--color-darkgrey);
    margin: 1.8rem 1rem;
    font-size: 1.5vw;
    letter-spacing: 0.3vw;
}

.brand-1, .brand-2, .brand-3, .brand-4 {
    color: var(--color-burgundy);
    cursor: pointer;
}
